.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #38998B;
    border-radius: 30px;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    padding: 5%
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
/* .container {
    padding: 2px 16px;
} */

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  margin: 2%;
  padding-left: 4%;
  padding-right: 4%;

  /* border: 3px solid #C38D9E; */

}

.self_img {
  display: block;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  height: 400px;
}

p{
  font-size: 25px;
}

h1{
  font-size: 50px;
}

h4{
  font-size: 40px;
  margin: 10px;
}

body{
  margin: 0;
}

.container{
  height:250px
}
