
#title {
  text-align: center;
  margin-top: 65px;
}

h1 {
  color: white;
}

body{
  margin: 0px;
}

/* Reset */
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  top: 10;
  font-size: 20px;
  font-family: myFirstFont, Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  /* top: -1px; */
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}
.bottomBar {
  position: relative;
  bottom: -117px;

}

.container{
  text-align: center;
}

input{
  margin-top: 10px;
}

#instructions{
  text-align: center;
  font-size: 20px;
}

.hidden{
  display: none;
}

#amtUsed{
  color: white;
  display: inline;
}

          /* Button Highlight */
.textIn {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Muli, Helvetica;
}

.textIn {
  display: inline-block;
  position: relative;
  padding: 3px 5px;
  top: 5;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.textIn:hover {
  -webkit-transform: rotateX(25deg);
     -moz-transform: rotateX(25deg);
      -ms-transform: rotateX(25deg);
          transform: rotateX(25deg);
}

#rateNum:active {
  top: 0px;
  background: #e27d60;
}

#testNum:active{
  top: 0px;
  background: rgba( 20, 224, 133, 1 );
}

#cost:active{
  top: 0px;
  background: #c38d9e;
}

#amtOver {
  display: inline;
  color: #c90d00;
}

#amtUnder {
  display: inline;
  color: #186601;
}
