#data_table {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    */
    border-collapse: collapse;
}

#data_table td, #data_table th {
    /* border: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
    padding: 8px;
    width: 200px;
}

#data_table tr:nth-child(odd){background-color: #74C3BE;}

#data_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #24635B;
    color: white;
}

.notBottom{
  margin: 8px;
}

/* Override Chrome Margins */
body{
  margin: 0;
  margin-top: 60px;
}
.textIn {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Muli, Helvetica;
}
/*Button hover*/
.textIn {
  display: inline-block;
  position: relative;
  padding: 3px 5px;
  top: 5;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.textIn:hover {
  -webkit-transform: rotateX(25deg);
     -moz-transform: rotateX(25deg);
      -ms-transform: rotateX(25deg);
          transform: rotateX(25deg);
}

#bil_date:active {
  top: 0px;
  background: #e27d60;
}

#bill_qyt:active{
  top: 0px;
  background: rgba( 20, 224, 133, 1 );
}

#bill_cost:active{
  top: 0px;
  background: #c38d9e;
}
