
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;


}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .navButton:hover {
    background-color: #999;
}

p{
  margin: 10px
}
.navButton {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

body{
  margin-left: 500px;
}

table{
  width:100%;
  padding: 10px
}

/* bio styles */
/* ///////// */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 0;
    width:auto;

    margin-bottom: 80px;
    margin-right: 20px;
    align-content: center;
    padding: 20px;
    background-color: #333;
    color: #C38D9E;
}

h4{
  font-size: 30px;
  text-align: center;
}

.goalsSection{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #333;
  width:60%
}

.goalsSection:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 16px;
}

#data_chart{
  z-index: 1;

}

#userimg{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #E27D60;
}
