
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;


}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



p{
  margin: 10px
}
.navButton {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

body{
  margin: 0;
}

table{
  width:100%;
  padding: 10px;
}

td {
  vertical-align: top;
}

tr {

}

/* bio styles */
/* ///////// */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 0;
    width:auto;
    height: 650px;

    margin-right: 20px;
    align-content: center;
    padding: 20px;
    background-color: #333;
    color: #C38D9E;
}

h4{
  font-size: 30px;
  text-align: center;
}

.goalsSection{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #333;

  padding: 30px;
  vertical-align: top;
  color: white;
}



.goalsSection:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 16px;
}

#data_chart{
  z-index: 1;
  margin: 12px;
}

#userimg{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #E27D60;
}

#show_goals {
  height: 320px;
  overflow-y: scroll;
}

#goal_table {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    */
    border-collapse: collapse;
}

#goal_table td, #goal_table th {
    /* border: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
    padding: 8px;
    width: 200px;
    color: white;
}

#goal_table tr:nth-child(odd){background-color: #666;}

#goal_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #24635B;
}

#delete {
  background-color: #74C3BE;
  border: 0px;
}

body{
  margin-top: 60px;
}

.textIn {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Muli, Helvetica;
}
/* Button Highlight */
.textIn {
margin-top: 5px;
margin-bottom: 10px;
font-family: Muli, Helvetica;
}

.textIn {
display: inline-block;
position: relative;
/* padding: 3px 5px; */
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
transition: all 0.25s ease;
}

.textIn:hover {
-webkit-transform: rotateX(25deg);
-moz-transform: rotateX(25deg);
-ms-transform: rotateX(25deg);
transform: rotateX(25deg);
}

#date:active {
top: 0px;
background: #e27d60;
}

#kwh:active{
top: 0px;
background: rgba( 20, 224, 133, 1 );
}

#cost:active{
top: 0px;
background: #c38d9e;
}

#calcLM {
  width: 50px;
}
