body{

  /* transparent overlay? */
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .6)),
                     url("/static/images/IMG_3763.JPG");

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

#proDes{
  background-color: white;
  border: 2px solid grey;

}
