/* Styles header text */
h1{
  color: white;
  font-family: myFirstFont;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  text-align: center;
}

/* New fonts */
@font-face {
  font-family: simple;
  src: url(Fonts/simplifica.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(Fonts/QanelasBold.otf);
}

@font-face {
  font-family: labelFont;
  src: url(Fonts/QanelasSoft.otf);
  unicode-range: U+20-21, U+3F, U+41-5A, U+61-7A;
}

/* Modifies the background of text boxes */
.textIn {
  background-color: white;
}


/* Place the navbar at the bottom of the page, and make it stick */
.bottomBar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* box-shadow: 0 10px 8px -6px #999; */
    left: 0;
    margin: 0;
    padding: 0;
}



/* Change the color of links on hover */
.bottomBar a:hover {
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
  background-color: #c38d9e;

  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -ms-transition: color .5s linear;
  -o-transition: color .5s linear;
  transition: color .5s linear;
  color: black;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

#itemImg {

  padding-top: 3px;

}

/* Style the links inside the navigation bar */
.bottomBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}




/* Add a color to the active/current link */
.bottomBar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Navigation Bar */
.navbar {
  position: absolute;
  left: 0;
}

label {
  font-family: labelFont, simple;
}

body {
  background-color: #41B3A3;
}

label{
  color: blue;
}

/* Nav Bar styles */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-family: myFirstFont;


}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .navButton:hover {
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
  background-color: #e27d60;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

p{
  margin: 10px
}
.navButton {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

body {
  margin-top: 60px;
}

/* navbar styles  (end) */

.logout {
  float: right;
}
/* dropdown menu settings code */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Changes color when hovering */
li a:hover {
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
  background-color: #e27d60;
}
/* Changes dropdown color on hover */
li .dropdown:hover .dropbtn {
    background-color: #999;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Adds margin so that bottom half of chart is visible */
#data_chart{
  margin-bottom: 100px
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#login {
  float: right;
}

#create {
  float: right;
}
