<html>
  <head>
    <!-- links styles to css -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/calcStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/calc.js"></script>
  </head>
  <body>

    <!-- <div class="navbar">
      <ul>
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=f9f2a5a837&attid=0.1&permmsgid=msg-a:r-6212994809209808552&th=164c8b91fdf64a1f&view=fimg&sz=w1600-h1000&attbid=ANGjdJ81dA3KYB8x8o3RHHjua6djqsyr3AKii1snYpJndYhgjVyx76AXuUpOkdDmi-XkpBm2-WADnyfliGIruF4VX136Ul3L_1chIts1cadAFPaqPVjTrzS2sz5TLuQ&disp=emb&realattid=164c8b914472707be2a1" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left">
            <li><button class="navButton" id="calc">Calculator</li>
            <li><button class="navButton" id="data">Data</a></li>
            <li><button class="navButton" id="settings">Settings</a></li>
      </ul>
    </div> -->

    <h1 id="title">Calculator</h1>
    <div>
      <label for="rateNum">Rate ($/kWh):</label>
      <input class="textIn" type="number" id="rateNum" placeholder="Numbers Only" required
      minlength="1">
    </div>

    <div>
      <label for="testNum">Amount Used (kWh):</label>
      <input class="textIn" type="number" id="testNum" placeholder="Numbers Only" required
        minlength="1">
    </div>
    <!-- <div class="slidecontainer">
      <input id="electricSlide" type="range" min="1" max="2000" value="1" class="slider"  name="slider1">
    </div> -->

    <div>
      <label for="cost">Cost ($):</label>
      <input class="textIn" type="number" step="0.0000001" id="cost" placeholder="Numbers Only" required
        minlength="1">

  <!-- <div class="slidecontainer">
    <input id="costSlide" type="range" min="1" max="2000" value="1" class="slider"  name="slider2">
  </div> -->

    <div id="input">
        <button type="button" id="test" value="Click Me">Calculate</button>
    </div>




    <div class="bottomBar">
      <a href="../static/about_us.html">About</a>
      <a href="#contactUs">Contact</a>
      <a href="#howToHelp">How to help</a>
    </div>
    <!-- NavBar code -->
    <h1>
        <div class="navbar">
            <ul>
                <a href="/"><img src="../static/images/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left"></a>
                <li><a href="/home"<button class="navButton" id="home">Home</button></a></li>
                <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
                <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
                <!-- Code for dropdown bar for settings -->
                <li style="float:right"class="dropdown">
                  <a href="javascript:void(0)" class="dropbtn">Settings</a>
                  <div class="dropdown-content">
                    <a href="{{logoutUrl}}">Log Out</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </li>
              </ul>
    </h1>

  </body>
</html>
