<html>
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <script src="../static/calc.js"></script>
</head>
<body>
  <div>
    <label for="testNum">Amount Used:</label>
    <input type="text" id="testNum" placeholder="Numbers Only" required
        minlength="1">
  </div>
  <div id="input">
        <button type="button" id="test" value="Click Me">Submit</button>
  </div>
  <div class="slidecontainer">
  <input id="electricSlide" type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>




</body>
</html>
