<html>
  <head>
  	<link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <div class="navbar">
      <ul>
        <img src="../static/images/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left"/>
        <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
        <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
        <li><a href="/settings"<button class="navButton" id="settings">Settings</button></a></li>
      </ul>
    </div>
    <h3>Successfully entered bill from {{bill.date}}!</h3>
    <p>Quantity entered: {{bill.util_qty}} kWh</p>
    <p>Cost entered: {{bill.util_cost}} kWh</p>
    <a href='/data'>Back to data page</a>
  </body>
</html>
