<html>
  <head>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <div class="navbar">
      <ul>
        <img src="../static/images/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left"/>
        <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
        <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
        <li><a href="/settings"<button class="navButton" id="settings">Settings</button></a></li>
      </ul>
    </div>
    <form method='post'>
      <div>Are you sure you want to delete the bill from {{bill.date}}? :(((((</div>
      <input type='hidden' name='bill_id' value='{{bill_id}}'>
      <input type='submit' value='Yes'>
    </form>
  </body>
</html>
