<html>
  <head>
<link rel="stylesheet" href="../static/homePageStyle.css">
<script src="/static/home.js"></script>
  </head>
    <body>

      <header>
        <nav>
<div class="navbar">
          <ul>
                <!-- <img src="https://mail.google.com/mail/u/0?ui=2&ik=f9f2a5a837&attid=0.1&permmsgid=msg-a:r9054351670878838987&th=164c7fa29cd4f33c&view=fimg&sz=w1600-h1000&attbid=ANGjdJ-R8ym-E6mnkGXyh0CirEL8eqd0EizbFaflbXOHFbp_mdO7sFLkhPgj-6FlX8w4Z3RrU7YkyKfaLwicyfx2bj4kqA8d-iFCNLjGO1Jr1CccSpUnx7vNY4S73CQ&disp=emb&realattid=164c7fa24415e7b96281" alt="Beach Boiz" id="itemImg" style="float:left"> -->
                <li><a href="news.asp">Calc</a></li>
                <li><a href="contact.asp">Data</a></li>
                <li><a href="about.asp">Settings</a></li>
          </ul>
</div>
      </header>
      <p>
      <pre>
      My Bonnie lies over the ocean.











































      My Bonnie lies over the sea.








      My Bonnie lies over the ocean.












      Oh, bring back my Bonnie to me.
    </pre>
  </p>
</body>

</html>
