<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="../static/homePageStyle.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/home.js"></script>
  </head>
  <body>
      <div class="navbar">
        <ul>
          <a href="/"><img src="../static/images/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left"></a>
          <li><a href="/home"<button class="navButton" id="home">Home</button></a></li>
          <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
          <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
          <li style="float:right"class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Options</a>
            <div class="dropdown-content">
              <a href="/settings">Settings</a>
              <a href="{{logoutUrl}}">Log Out</a>
            </div>
          </li>
        </ul>
      </div>

<!-- Bio Section/////;; :)
The following section contains the code to the bio section of the home page -->

      <table>

          <tr>
              <td style="width:200px">
                <div class="card">
                  <img id="userimg" src="/static/images/UserImgPlaceholder.jpg" alt="Avatar" style= "height: 300px">
                  <div class="container">
                    <h4><b>Email: {{userName}}</b></h4>
                  </div>
                </div>
              </td>

              <td class="goalsSection" style="background-color: #333; width:100%">
                <div>
                    <h1>
                      Goals
                    </h1>
                    <div id='goal_entry'>
                      <h2>Add Goal</h2>
                      <form method='post'>
                        <p>Enter the the date you want to achieve this goal by:
                          <input name='goal_date' type="date" max="9999-12-31" min="1900-01-01">
                        </p>
                        <p>Enter your goal quantity of electricity (in kWh):
                          <input name='goal_qty' type="number" step=".0000001">
                        </p>
                        <p>Enter your goal cost of electricity (in dollars):
                          <input name='goal_cost' type="number" step=".0000001">
                        </p>
                        <input type="submit">
                      </form>
                    </div>
                    <div id='show_goals'>
                      <table id='goal_table'>
                        <tr>
                          <th>Goal Date</th>
                          <th>Goal Quantity</th>
                          <th>Goal Cost</th>
                          <th>Delete Goal</th>
                        </tr>
                        {% for goal in goals %}
                        <tr>
                          <td>By {{goal.date}}</td>
                          <td>{{goal.goal_qty}} kWh</td>
                          <td>${{'%0.2f' % goal.goal_cost|float}}</td>
                          <td><a href='/delete_goal?goal_id={{goal.key.urlsafe()}}'>Delete</a></td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>

              </td>

          </tr>

<!-- //Das it for the bio section :) -->

          <tr>
            <td>
              <div id="data_chart" style="width: 500px; height: 350px"></div>
            </td>
          </tr>

      </table>

      <!-- Bottom Navigation Bar -->
    <div class="bottomBar">
        <a href="../static/about_us.html">About</a>
        <a href="../static/contact.html">Contact</a>
        <a href="../static/Help.html">How to help</a>
    </div>

  </body>
</html>
