<html>
  <head>
<link rel="stylesheet" href="../static/homePageStyle.css">
<script src="/static/home.js"></script>
  </head>
    <body>

      <h1>
          <div class="navbar">
              <ul>
                  <img src="../static/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left">
                  <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
                  <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
                  <li><a href="/settings"<button class="navButton" id="settings">Settings</button></a></li>
              </ul>
          </div>
      </h1>
      <p>
      <pre>
































      My Bonnie lies over the ocean.
      My Bonnie lies over the sea.
      My Bonnie lies over the ocean.















































      Oh, bring back my Bonnie to me.
    </pre>
  </p>
</body>

</html>
