<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/settingsStyle.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src='../static/settings.js'></script>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <a href="/"><img src="../static/images/logo.jpg" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left"/></a>
        <li><a href="/home"<button class="navButton" id="home">Home</button></a></li>
        <li><a href="/calc"<button class="navButton" id="calc">Calculator</button></a></li>
        <li><a href="/data"<button class="navButton" id="data">Data</button></a></li>
        <!-- Code for dropdown bar for settings* -->
        <li style="float:right"class="dropdown">
          <a href="javascript:void(0)" id="settings"class="dropbtn">Options <i class="arrow down"></i></a>
          <div class="dropdown-content">
            <a href="/settings">Settings</a>
            <a href="{{logoutUrl}}">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
    <h1>Settings</h1>
    <div id='user_entry' class="notBottom">
      <form method='post'>
        <p>Enter an image url for your profile image (it should be square):
          <input id='prof_url' type="text"class="textIn">
        </p>
        <p>Enter your zip code:
          <input id='zipcode' type="text"class="textIn">
        </p>
      </form>
      <button type="button" class='submit' id='submit'>Submit</button>
    </div>

    <div class="bottomBar">
      <a href="../static/about_us.html">About</a>
      <a href="../static/contact.html">Contact</a>
      <a href="../static/Help.html">How to help</a>
    </div>

  </body>
</html>
