<html>
  <head>
<link rel="stylesheet" href="../static/test.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/static/test.js"></script>
  </head>
    <body>
      <h1>
        <nav>
<div class="navbar">
  <ul>
        <img id="logo"src="https://mail.google.com/mail/u/0?ui=2&ik=f9f2a5a837&attid=0.1&permmsgid=msg-a:r-6212994809209808552&th=164c8b91fdf64a1f&view=fimg&sz=w1600-h1000&attbid=ANGjdJ81dA3KYB8x8o3RHHjua6djqsyr3AKii1snYpJndYhgjVyx76AXuUpOkdDmi-XkpBm2-WADnyfliGIruF4VX136Ul3L_1chIts1cadAFPaqPVjTrzS2sz5TLuQ&disp=emb&realattid=164c8b914472707be2a1" height=48px width=auto alt="Beach Boiz" id="itemImg" style="float:left">
        <li><button class="navButton" id="calc">Calculator</li>
        <li><button class="navButton" id="data">Data</a></li>
          <li><button class="navButton" id="settings">Settings</a></li>

   </div>
</ul>
</h1>
      <p>
      <pre>
































      My Bonnie lies over the ocean.
      My Bonnie lies over the sea.
      My Bonnie lies over the ocean.















































      Oh, bring back my Bonnie to me.
    </pre>
  </p>
</body>

</html>
